.portal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mask {
  background: rgba(0, 0, 0, 0.6);
}

.through {
  pointer-events: none;
}

.lockScroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
}
